<div>
    <h2 id="page-heading" style="border-bottom: 2px solid #ff1818;width: 957px;margin-left: 160px;padding-bottom: 6px;">
        <span> <img style="margin-bottom: 5px;" height="36px" width="36px" src="https://img.icons8.com/ios-filled/50/000000/add-shopping-cart.png"/>&nbsp;Giỏ hàng của bạn</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="listCarts?.length === 0">
        <span jhiTranslate="hauiAdidasShoesApp.listCart.home.notFound">No listCarts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="listCarts && listCarts.length > 0">
        <div *ngFor="let listCart of listCarts ;trackBy: trackId">
            <form [formGroup]="form">
            <div class="cart">
                <div class="cart-content" *ngIf="listCart.product && listCart.checkDisplay">
                    <div class="left">
                        <input type="checkbox"  id="productId" [checked]="" name="options" value="{{listCart.id}}" (change)="onCheckboxChange($event)">
                        <img  style="margin-left: 10px; margin-top: 10px" height="133px" width="133px" [src]="'data:' + listCart.product.imageContentType + ';base64,' + listCart.product.image" alt="product image"/>
                    </div>
                    <div style="margin-left: 10px" class="right">
                        <div class="name-product">
                            <h3>{{listCart.product.name}}</h3>
                        </div>
                        <div style="color: red" class="price margin-top">
                            {{replace(listCart.product.price)}} đ
                        </div>
                        <div class="size margin-top">
                            <div class="form-group" *ngIf="listCart.size">
                                Size: <span>{{listCart.size.name}}</span><br>
                            </div>

                        </div>
                        <div class="quanlity">
                            <div>Số lượng</div>
                            <div class="btn1">
                                <button (click)="minus(listCart.id)">-</button>&nbsp;&nbsp;
                                <span>{{listCart.amount}}</span>&nbsp;
                                <button (click)="plus(listCart.id)">+</button>
                            </div>
                            <div *ngIf="amounts">
                                <div  *ngFor="let amount of amounts">
                                    <div *ngIf="amount.product && amount.size && listCart.size">
                                        <div *ngIf="amount.product.id === listCart.product.id && amount.size.id === listCart.size.id" style="margin-top: -2px; margin-left: 20px" class="total-have margin-top"><span>{{amount.inventory}}</span> sản phẩm có sẵn</div>
                                        <!-- div *ngIf="amount.product.id !== listCart.product.id && amount.size.id !== listCart.size.id" style="margin-top: -2px; margin-left: 20px" class="total-have margin-top"><span style="color: red">sản phẩm đã bán hết</span></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="position: absolute;margin-top: 82px;margin-left: 750px;">
                        <button type="button" (click)="delete(listCart)" class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="footer">
            <div class="all-checkbox" style="margin-left: 158px; margin-top: 10px;">Tất cả &nbsp;<input type="checkbox"></div>
            <div><button type="submit" class="btn-thanhtoan" (click)="submit()">Thanh toán</button></div>
        </div>

    </div>

    <div *ngIf="listCarts && listCarts.length > 0">
        <div class="row justify-content-center">
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
