<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listCart">
            <h2><span jhiTranslate="hauiAdidasShoesApp.listCart.detail.title">List Cart</span> {{ listCart.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hauiAdidasShoesApp.listCart.amount">Amount</span></dt>
                <dd>
                    <span>{{ listCart.amount }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.listCart.description">Description</span></dt>
                <dd>
                    <span>{{ listCart.description }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.listCart.user">User</span></dt>
                <dd>
                    {{ listCart.user?.login }}
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.listCart.product">Product</span></dt>
                <dd>
                    <div *ngIf="listCart.product">
                        <a [routerLink]="['/product', listCart.product?.id, 'view']">{{ listCart.product?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.listCart.size">Size</span></dt>
                <dd>
                    <div *ngIf="listCart.size">
                        <a [routerLink]="['/size', listCart.size?.id, 'view']">{{ listCart.size?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/list-cart', listCart.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
