/* ==========================================================================
Main page styles
========================================================================== */
.cart {
  width: 75%;
  border: 0;
  margin: auto;
  background-color: #c1c1c0 !important;
  border-radius: 5px;
  .cart-content {
    margin-top: 10px;
    width: 100%;
    display: flex;
    padding: 10px;
    height: 200px;
    background-color: #eeeeee;
    border-radius: 5px;
  }
}
.quanlity {
  display: flex;
  margin: 10px 0px;
  button {
    border-radius: 5px;
    border-color: #96a2b2;
  }
}
.btn1 {
  display: flex;
  input,
  button {
    width: 30px;
    margin-left: 5px;
  }
}
.margin-top {
  margin-top: 10px;
}
.footer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  button {
  }
  all-checkbox {
    margin-top: 10px;
  }
}
.btn-thanhtoan {
  background-color: #fd513f;
  border-radius: 5px;
  width: 100px;
  border: 0;
  outline: none;
  height: 40px;
  margin-top: 10px;
  margin-left: -156%;
}
