<div class="footer">
    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>Giới thiệu</h6>
                    <p class="text-justify">Adidas.com.vn</p>
                    <p class="text-justify">Adidas là tập đoàn đa quốc gia đến từ nước Đức, chuyên sản xuất các mặt hàng giầy dép, quần áo, phụ kiện.</p>
                    <p class="text-justify">Một trong những sản phẩm truyền thống nổi bật của hãng đó chính là giày dép. Người dùng biết tới giày Adidas có thiết kế tinh tế, thoáng nhẹ, bền, thoải mái vận động mà không lo bị bí, đau chân và dành cho mọi đối tượng khách hàng: nam, nữ, trẻ em.</p>
                    <p class="text-justify">Chúng tôi sẽ luôn đem đến cho bạn những sản phẩm chính hãng với chất lượng sản phẩm và phục vụ tốt nhất</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Bộ sưu tập</h6>
                    <ul class="footer-links">
                        <li><a href="#">Adidas superstart</a></li>
                        <li><a href="#">Adidas Stan Smith</a></li>
                        <li><a href="#">Adidas Ultra boost</a></li>
                        <li><a href="#">Adidas Yeezy</a></li>
                        <li><a href="">Adidas NMD</a></li>
                        <li><a href="#">Adidas Alphabounce</a></li>
                        <li><a href="#">Adidas EQT</a></li>
                        <li><a href="#">Adidas Prophere</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Hỗ trợ</h6>
                    <ul class="footer-links">
                        <li><a href="#">Trợ giúp và dịch vị khách hàng</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Công cụ tìm kiếm cửa hàng</a></li>
                        <li><a href="#">Biểu đồ và kích thước</a></li>
                        <li><a href="#">Thanh toán</a></li>
                        <li><a href="#">Giao hàng</a></li>
                        <li><a href="#">Trả lại hàng và hoàn tiền</a></li>
                        <li><a href="#">Trương trình khuyến mãi</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                        <a href="#">adidas.com.vn</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
