<div>
    <h2 id="page-heading">
        <span jhiTranslate="hauiAdidasShoesApp.orders.home.title">Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orders" [routerLink]="['/orders/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hauiAdidasShoesApp.orders.home.createLabel">
            Create a new Orders
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
        <span jhiTranslate="hauiAdidasShoesApp.orders.home.notFound">No orders found</span>
    </div>
    <div>
        <input style="width: 300px; margin-bottom: 5px;float: left;" (keyup)="onKeyName($event)" type="text" class="form-control" name="name" id="field_name"
               formControlName="name" [(ngModel)]="name"  placeholder="Nhập mã order..."/>
        <input id="field_orderDate" [(ngModel)]="orderDate" (change)="onKeyDate($event)" style="width: 300px; margin-left:5px;float: left;" type="text" class="form-control" name="orderDate" ngbDatepicker #orderDateDp="ngbDatepicker" formControlName="orderDate" placeholder="Nhập ngày order..."/>
        <span class="input-group-append" style="margin-left:-10px; float: left;">
            <button type="button" class="btn btn-secondary" (click)="orderDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
        </span>
        <button (click)="search()" style="margin-left:7px;border-radius: 5px; border: none; height: 35px; background-color: #f84141; float: left;">Tìm kiếm</button>
    </div>
    <div *ngIf="confirm =='0'" class="option" style="margin-left: 1000px; padding-bottom: -5px;">
        <input type="radio" id="2" name="option"  value="male" (click)="optionAll()">
        <label for="2">ALL</label> &nbsp;&nbsp;
        <input type="radio" id="1" name="option" value="female" (click)="optionConfirmed()">
        <label for="1">Confirmed</label>&nbsp;&nbsp;
        <input type="radio" id="0" name="option" [checked]="confirm" value="other" (click)="optionUnconfirmed()">
        <label for="0">Unconfirmed</label>
    </div>
    <div *ngIf="confirm == '1'" class="option" style="margin-left: 1000px;">
        <input type="radio" id="22" name="option" value="male" (click)="optionAll()">
        <label for="2">ALL</label> &nbsp;&nbsp;
        <input type="radio" id="11" name="option" [checked]="confirm" value="female" (click)="optionConfirmed()">
        <label for="1">Confirmed</label>&nbsp;&nbsp;
        <input type="radio" id="00" name="option"  value="other" (click)="optionUnconfirmed()">
        <label for="0">Unconfirmed</label>
    </div>
    <div *ngIf="confirm != '0' && confirm!='1'" class="option" style="margin-left: 1000px;">
        <input type="radio" id="222" name="option" [checked]="222" value="male" (click)="optionAll()">
        <label for="2">ALL</label> &nbsp;&nbsp;
        <input type="radio" id="111" name="option"  value="female" (click)="optionConfirmed()">
        <label for="1">Confirmed</label>&nbsp;&nbsp;
        <input type="radio" id="000" name="option"  value="other" (click)="optionUnconfirmed()">
        <label for="0">Unconfirmed</label>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orders && orders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="confirm"><span jhiTranslate="hauiAdidasShoesApp.orders.confirm">Confirm</span> </th>
                    <th scope="col"  jhiSortBy="orderDate"><span jhiTranslate="hauiAdidasShoesApp.orders.orderDate">Order Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryDateFrom"><span jhiTranslate="hauiAdidasShoesApp.orders.deliveryDateFrom">Delivery Date From</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryDateTo"><span jhiTranslate="hauiAdidasShoesApp.orders.deliveryDateTo">Delivery Date To</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalOrderPrice"><span jhiTranslate="hauiAdidasShoesApp.orders.totalOrderPrice">Total Order Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="hauiAdidasShoesApp.orders.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orders of orders ;trackBy: trackId">
                    <td><a [routerLink]="['/orders', orders.id, 'view']">{{ orders.id }}</a></td>
                    <td>
                        <button class="btn btn-success btn-sm" (click)="setOrderConfirm(orders, false)" *ngIf="orders.confirm">Đã xác nhận</button>
                        <button class="btn btn-danger btn-sm" (click)="setOrderConfirm(orders, true)" *ngIf="!orders.confirm">Chưa xác nhận</button>
                    </td>
                    <td>{{ orders.orderDate | date:'mediumDate' }}</td>
                    <td>{{ orders.deliveryDateFrom | date:'mediumDate' }}</td>
                    <td>{{ orders.deliveryDateTo | date:'mediumDate' }}</td>
                    <td>{{ orders.totalOrderPrice }}</td>
                    <td>
                        {{ orders.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    (click)="showTrackOrder(orders.id)"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/orders', orders.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(orders)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="orders && orders.length > 0">

        <div style="margin-top: 7px;" class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
