<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orders">
            <h2><span jhiTranslate="hauiAdidasShoesApp.orders.detail.title">Orders</span> {{ orders.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hauiAdidasShoesApp.orders.confirm">Confirm</span></dt>
                <dd>
                    <span>{{ orders.confirm }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orders.descripstion">Descripstion</span></dt>
                <dd>
                    <span>{{ orders.descripstion }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orders.totalOrderPrice">Total Order Price</span></dt>
                <dd>
                    <span>{{ orders.totalOrderPrice }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orders.orderDate">Order Date</span></dt>
                <dd>
                    <span>{{ orders.orderDate }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orders.deliveryDateFrom">Delivery Date From</span></dt>
                <dd>
                    <span>{{ orders.deliveryDateFrom }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orders.deliveryDateTo">Delivery Date To</span></dt>
                <dd>
                    <span>{{ orders.deliveryDateTo }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orders.user">User</span></dt>
                <dd>
                    {{ orders.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/orders', orders.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
