<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-orders-heading" jhiTranslate="hauiAdidasShoesApp.orders.home.createOrEditLabel">Create or edit a Orders</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orders.confirm" for="field_confirm">Confirm</label>
                    <input type="checkbox" class="form-control" name="confirm" id="field_confirm"
                           formControlName="confirm"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orders.descripstion" for="field_descripstion">Descripstion</label>
                    <input type="text" class="form-control" name="descripstion" id="field_descripstion"
                           formControlName="descripstion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orders.totalOrderPrice" for="field_totalOrderPrice">Total Order Price</label>
                    <input type="number" class="form-control" name="totalOrderPrice" id="field_totalOrderPrice"
                           formControlName="totalOrderPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orders.orderDate" for="field_orderDate">Order Date</label>
                    <div class="input-group">
                        <input id="field_orderDate" type="text" class="form-control" name="orderDate" ngbDatepicker #orderDateDp="ngbDatepicker" formControlName="orderDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="orderDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orders.deliveryDateFrom" for="field_deliveryDateFrom">Delivery Date From</label>
                    <div class="input-group">
                        <input id="field_deliveryDateFrom" type="text" class="form-control" name="deliveryDateFrom" ngbDatepicker #deliveryDateFromDp="ngbDatepicker" formControlName="deliveryDateFrom"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="deliveryDateFromDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orders.deliveryDateTo" for="field_deliveryDateTo">Delivery Date To</label>
                    <div class="input-group">
                        <input id="field_deliveryDateTo" type="text" class="form-control" name="deliveryDateTo" ngbDatepicker #deliveryDateToDp="ngbDatepicker" formControlName="deliveryDateTo"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="deliveryDateToDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orders.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
