<div>

    <div class="home-header">
        <h3><span><fa-icon style="width: 15px; height: 15px;" icon="home"></fa-icon></span>&nbsp;HOME | <span style="color: #f82626">ADMIN</span></h3>
    </div>
    <div class="home-content">
        <div class="home-center" *ngIf="statisticalNumberModel">
            <div class="left" id="mot" (click)="orderUser()"><p>Đơn hàng mới cần xác nhận</p>
                <span>{{statisticalNumberModel.orderNew}}</span>
            </div>
            <div class="left" id="hai" (click)="orderNow()"><p>Đơn hàng mới cần xác nhận từ khách vãng lai</p>
                <span>{{statisticalNumberModel.orderNowNew}}</span>
            </div>
            <div class="left" id="ba"><p>Tổng  doanh thu tháng này</p>
                <span style="font-size: 22px;top: 188px;">{{replace(statisticalNumberModel.revenue)}} đ</span>
            </div>
            <div class="left" id="bon"><p>Tổng sản phẩm đã bán tháng này</p>
                <span>{{statisticalNumberModel.product}}</span>
            </div>
        </div>
        <div class="home-chart">
            <dx-chart
                id="chart"
                title="Biểu đồ thống kê doanh thu, số lượng sản phẩm đã bán và bị hủy các ngày trong tuần"
                [dataSource]="grossProductData"
                (onPointClick)="onPointClick($event)">
                <dxi-series valueField="year2004" name="Doanh thu"></dxi-series>
                <dxi-series valueField="year2001" name="Sản phẩm bị hủy"></dxi-series>
                <dxi-series valueField="year1998" name="Sản phẩm giao thành công"></dxi-series>
                <dxo-common-series-settings
                    argumentField="state"
                    type="bar"
                    hoverMode="allArgumentPoints"
                    selectionMode="allArgumentPoints">
                    <dxo-label
                        [visible]="true"
                        [format]="{
                type: 'fixedPoint',
                precision: 0
            }">
                    </dxo-label>
                </dxo-common-series-settings>
                <dxo-legend
                    verticalAlignment="bottom"
                    horizontalAlignment="center">
                </dxo-legend>
                <dxo-export [enabled]="true"></dxo-export>
            </dx-chart>
        </div>
    </div>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
</div>
