<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reviews">
            <h2><span jhiTranslate="hauiAdidasShoesApp.reviews.detail.title">Reviews</span> {{ reviews.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hauiAdidasShoesApp.reviews.rating">Rating</span></dt>
                <dd>
                    <span>{{ reviews.rating }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.reviews.decription">Decription</span></dt>
                <dd>
                    <span>{{ reviews.decription }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.reviews.orderProduct">Order Product</span></dt>
                <dd>
                    <div *ngIf="reviews.orderProduct">
                        <a [routerLink]="['/order-product', reviews.orderProduct?.id, 'view']">{{ reviews.orderProduct?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reviews', reviews.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
