.home-header {
  width: 80%;
  height: 66px;
  background-color: #f3ecec;
  padding-left: 100px;
  padding-top: 11px;
  border-radius: 5px;
  margin: auto;
}
.home-content {
  width: 80%;
  height: 688px;
  margin: 10px auto;
  background-color: #eeeeee;
  border-radius: 5px;
  .home-center {
    height: 128px;
    width: 100%;
    margin-left: 48px;
    margin-bottom: 37px;
    .left {
      margin-top: 15px;
      height: 125px;
      width: 175px;
      background-color: green;
      float: left;
      margin-left: 50px;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
      }
      span {
        margin-top: 20px;
        position: absolute;
        top: 168px;
        font-size: 41px;
        margin-left: 10px;
        color: white;
      }
      p {
        margin-left: 15px;
        margin-top: 10px;
        font-size: 16px;
        color: white;
      }
    }
  }
  .home-chart {
    height: 524px;
    width: 100%;
    background-color: #e0f5ef;
  }
  #mot {
    background-color: #f53c3c;
    &:hover {
      background-color: #00cd9a;
    }
  }
  #hai {
    background-color: #f94e4e;
    &:hover {
      background-color: #00cd9a;
    }
  }
  #ba {
    background-color: #52c6ef;
    &:hover {
      background-color: #00cd9a;
    }
  }
  #bon {
    background-color: #f7e53a;
    &:hover {
      background-color: #00cd9a;
    }
  }
}
::ng-deep #chart {
  height: 510px;
}
