<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderNow">
            <h2><span jhiTranslate="hauiAdidasShoesApp.orderNow.detail.title">Order Now</span> {{ orderNow.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hauiAdidasShoesApp.orderNow.name">Name</span></dt>
                <dd>
                    <span>{{ orderNow.name }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orderNow.phone">Phone</span></dt>
                <dd>
                    <span>{{ orderNow.phone }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orderNow.address">Address</span></dt>
                <dd>
                    <span>{{ orderNow.address }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orderNow.orderConfirm">Order Confirm</span></dt>
                <dd>
                    <span>{{ orderNow.orderConfirm }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orderNow.delivered">Delivered</span></dt>
                <dd>
                    <span>{{ orderNow.delivered }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orderNow.status">Status</span></dt>
                <dd>
                    <span>{{ orderNow.status }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orderNow.totalOrderPrice">Total Order Price</span></dt>
                <dd>
                    <span>{{ orderNow.totalOrderPrice }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orderNow.listCart">List Cart</span></dt>
                <dd>
                    <div *ngIf="orderNow.listCart">
                        <a [routerLink]="['/list-cart', orderNow.listCart?.id, 'view']">{{ orderNow.listCart?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-now', orderNow.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
