<div>
    <h2 id="page-heading">
        <span jhiTranslate="hauiAdidasShoesApp.orderNow.home.title">Order Nows</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-now" [routerLink]="['/order-now/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hauiAdidasShoesApp.orderNow.home.createLabel">
            Create a new Order Now
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orderNows?.length === 0">
        <span jhiTranslate="hauiAdidasShoesApp.orderNow.home.notFound">No orderNows found</span>
    </div>

    <div>
        <input style="width: 300px; margin-bottom: 5px;float: left;" (keyup)="onKeyName($event)" type="text" class="form-control" name="name" id="field_name"
               formControlName="name" [(ngModel)]="name"  placeholder="Nhập mã order..."/>
        <input id="field_orderDate" [(ngModel)]="orderDate" (change)="onKeyDate($event)" style="width: 300px; margin-left:5px;float: left;" type="text" class="form-control" name="orderDate" ngbDatepicker #orderDateDp="ngbDatepicker" formControlName="orderDate" placeholder="Nhập ngày order..."/>
        <span class="input-group-append" style="margin-left:-10px; float: left;">
            <button type="button" class="btn btn-secondary" (click)="orderDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
        </span>
        <button (click)="search()" style="margin-left:7px;border-radius: 5px; border: none; height: 35px; background-color: #f84141; float: left;">Tìm kiếm</button>
    </div>

    <div *ngIf="confirm =='0'" class="option" style="margin-left: 1000px;">
        <input type="radio" id="2" name="option"  value="male" (click)="optionAll()">
        <label for="2">ALL</label> &nbsp;&nbsp;
        <input type="radio" id="1" name="option" value="female" (click)="optionConfirmed()">
        <label for="1">Confirmed</label>&nbsp;&nbsp;
        <input type="radio" id="0" name="option" [checked]="confirm" value="other" (click)="optionUnconfirmed()">
        <label for="0">Unconfirmed</label>
    </div>
    <div *ngIf="confirm == '1'" class="option" style="margin-left: 1000px;">
        <input type="radio" id="22" name="option" value="male" (click)="optionAll()">
        <label for="2">ALL</label> &nbsp;&nbsp;
        <input type="radio" id="11" name="option" [checked]="confirm" value="female" (click)="optionConfirmed()">
        <label for="1">Confirmed</label>&nbsp;&nbsp;
        <input type="radio" id="00" name="option"  value="other" (click)="optionUnconfirmed()">
        <label for="0">Unconfirmed</label>
    </div>
    <div *ngIf="confirm != '0' && confirm!='1'" class="option" style="margin-left: 1000px;">
        <input type="radio" id="222" name="option" [checked]="222" value="male" (click)="optionAll()">
        <label for="2">ALL</label> &nbsp;&nbsp;
        <input type="radio" id="111" name="option"  value="female" (click)="optionConfirmed()">
        <label for="1">Confirmed</label>&nbsp;&nbsp;
        <input type="radio" id="000" name="option"  value="other" (click)="optionUnconfirmed()">
        <label for="0">Unconfirmed</label>
    </div>
    <div class="table-responsive" id="entities" *ngIf="orderNows && orderNows.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="orderConfirm"><span jhiTranslate="hauiAdidasShoesApp.orderNow.orderConfirm">Order Confirm</span></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="hauiAdidasShoesApp.orderNow.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span jhiTranslate="hauiAdidasShoesApp.orderNow.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address"><span jhiTranslate="hauiAdidasShoesApp.orderNow.address">Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address"><span>Order Date</span> </th>
                    <th scope="col"  jhiSortBy="address"><span>Delivery Date</span> </th>
                    <th style="width: 100px" scope="col"  jhiSortBy="totalOrderPrice"><span>Order Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="delivered"><span jhiTranslate="hauiAdidasShoesApp.orderNow.delivered">Delivered</span></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="hauiAdidasShoesApp.orderNow.status">Status</span></th>
                    <th scope="col"  jhiSortBy="listCart.id"><span jhiTranslate="hauiAdidasShoesApp.orderNow.listCart">List Cart</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody style="font-size: 12px;">
                <tr *ngFor="let orderNow of orderNows ;trackBy: trackId">
                    <td><a [routerLink]="['/order-now', orderNow.id, 'view']">{{ orderNow.id }}</a></td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="setConfirm(orderNow, true)"
                                *ngIf="!orderNow.orderConfirm">Chờ xác nhận</button>
                        <button class="btn btn-success btn-sm" (click)="setConfirm(orderNow, false)"
                                *ngIf="orderNow.orderConfirm">Đã xác nhận</button>
                    </td>
                    <td style="width: 100px;">{{ orderNow.name }}</td>
                    <td style="width: 50px;">{{ orderNow.phone }}</td>
                    <td style="width: 170px;">{{ orderNow.address }}</td>
                    <td>{{ orderNow.orderDate | date:'mediumDate' }}</td>
                    <td>{{ orderNow.deliveryDate | date:'mediumDate' }}</td>
                    <td style="width:70px;">{{replace(orderNow.totalOrderPrice)}} đ</td>
                    <td style="width: 100px;">
                        <button class="btn btn-danger btn-sm" (click)="setDelivered(orderNow, true)"
                                *ngIf="!orderNow.delivered">Đang giao</button>
                        <button class="btn btn-success btn-sm" (click)="setDelivered(orderNow, false)"
                                *ngIf="orderNow.delivered">Đã giao</button>
                    </td>
                    <td style="width: 117px;">
                        <button class="btn btn-danger btn-sm" (click)="setStatus(orderNow, true)"
                                *ngIf="!orderNow.status">Đã hủy</button>
                        <button class="btn btn-success btn-sm" (click)="setStatus(orderNow, false)"
                                *ngIf="orderNow.status && !orderNow.delivered">Đang giao</button>
                        <button class="btn btn-success btn-sm" (click)="setStatus(orderNow, false)"
                                *ngIf="orderNow.status && orderNow.delivered">Hoàn thành</button>
                    </td>
                    <td tyle="width:30px;">
                        <div *ngIf="orderNow.listCart">
                            <a [routerLink]="['/list-cart', orderNow.listCart?.id, 'view']" >{{ orderNow.listCart?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/order-now', orderNow.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(orderNow)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="orderNows && orderNows.length > 0">

        <div style="margin-top: 10px;" class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
