<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-now-heading" jhiTranslate="hauiAdidasShoesApp.orderNow.home.createOrEditLabel">Create or edit a Order Now</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orderNow.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orderNow.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orderNow.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orderNow.orderConfirm" for="field_orderConfirm">Order Confirm</label>
                    <input type="checkbox" class="form-control" name="orderConfirm" id="field_orderConfirm"
                           formControlName="orderConfirm"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orderNow.delivered" for="field_delivered">Delivered</label>
                    <input type="checkbox" class="form-control" name="delivered" id="field_delivered"
                           formControlName="delivered"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orderNow.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orderNow.totalOrderPrice" for="field_totalOrderPrice">Total Order Price</label>
                    <input type="number" class="form-control" name="totalOrderPrice" id="field_totalOrderPrice"
                           formControlName="totalOrderPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orderNow.listCart" for="field_listCart">List Cart</label>
                    <select class="form-control" id="field_listCart" name="listCart" formControlName="listCart">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="listCartOption.id === editForm.get('listCart')!.value?.id ? editForm.get('listCart')!.value : listCartOption" *ngFor="let listCartOption of listcarts; trackBy: trackById">{{ listCartOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
