<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trackOrder">
            <h2><span jhiTranslate="hauiAdidasShoesApp.trackOrder.detail.title">Track Order</span> {{ trackOrder.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hauiAdidasShoesApp.trackOrder.orderConfirm">Order Confirm</span></dt>
                <dd>
                    <span>{{ trackOrder.orderConfirm }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.trackOrder.waittingProduct">Waitting Product</span></dt>
                <dd>
                    <span>{{ trackOrder.waittingProduct }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.trackOrder.shipping">Shipping</span></dt>
                <dd>
                    <span>{{ trackOrder.shipping }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.trackOrder.delivered">Delivered</span></dt>
                <dd>
                    <span>{{ trackOrder.delivered }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.trackOrder.status">Status</span></dt>
                <dd>
                    <span>{{ trackOrder.status }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.trackOrder.orders">Orders</span></dt>
                <dd>
                    <div *ngIf="trackOrder.orders">
                        <a [routerLink]="['/orders', trackOrder.orders?.id, 'view']">{{ trackOrder.orders?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/track-order', trackOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
