<div class="background">
    <h2 id="page-heading">
        <span jhiTranslate="hauiAdidasShoesApp.trackOrder.home.title">Track Orders</span>

        <button id="jh-create-entity" style="background-color: #d40505 !important;" (click)="closeCom()" class="btn btn-primary float-right jh-create-entity create-track-order" >
            <span >
                X
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>


    <div class="lst-product">
        <p  style="border-bottom: 1px solid #020215;font-size: 20px" >Theo dõi đơn hàng</p>
        <div class="table-responsive" id="entities" *ngIf="trackOrders && trackOrders.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>
                    <th scope="col"  jhiSortBy="orderConfirm"><span jhiTranslate="hauiAdidasShoesApp.trackOrder.orderConfirm">Order Confirm</span> </th>
                    <th scope="col"  jhiSortBy="waittingProduct"><span jhiTranslate="hauiAdidasShoesApp.trackOrder.waittingProduct">Waitting Product</span> </th>
                    <th scope="col"  jhiSortBy="shipping"><span jhiTranslate="hauiAdidasShoesApp.trackOrder.shipping">Shipping</span> </th>
                    <th scope="col"  jhiSortBy="delivered"><span jhiTranslate="hauiAdidasShoesApp.trackOrder.delivered">Delivered</span> </th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="hauiAdidasShoesApp.trackOrder.status">Status</span> </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let trackOrder of trackOrders ;trackBy: trackId">
                    <td><a [routerLink]="['/track-order', trackOrder.id, 'view']">{{ trackOrder.id }}</a></td>
                    <td><button class="btn btn-success btn-sm" (click)="setOrderConfirm(trackOrder, false)" *ngIf="trackOrder.orderConfirm" disabled>Đã xác nhận</button>
                        <button class="btn btn-danger btn-sm" (click)="setOrderConfirm(trackOrder, true)" *ngIf="!trackOrder.orderConfirm" disabled>Chưa xác nhận</button></td>
                    <td><button class="btn btn-success btn-sm" (click)="setWaittingProduct(trackOrder, false)" *ngIf="trackOrder.waittingProduct">Shipper đã lấy hàng</button>
                        <button class="btn btn-danger btn-sm" (click)="setWaittingProduct(trackOrder, true)" *ngIf="!trackOrder.waittingProduct">Chưa lấy hàng</button></td>
                    <td><button class="btn btn-success btn-sm" (click)="setShipping(trackOrder, false)" *ngIf="trackOrder.shipping">Đã giao</button>
                        <button class="btn btn-danger btn-sm" (click)="setShipping(trackOrder, true)" *ngIf="!trackOrder.shipping">Đang giao</button></td>
                    <td><button class="btn btn-success btn-sm" (click)="setDelivered(trackOrder, false)" *ngIf="trackOrder.delivered">Giao hàng thành công</button>
                        <button class="btn btn-danger btn-sm" (click)="setDelivered(trackOrder, true)" *ngIf="!trackOrder.delivered">Đang giao</button></td>
                    <td><button class="btn btn-success btn-sm" (click)="setStatus(trackOrder, false)" *ngIf="trackOrder.status && !trackOrder.delivered">Đang vận chuyển</button>
                        <button class="btn btn-success btn-sm" (click)="setStatus(trackOrder, false)" *ngIf="trackOrder.status && trackOrder.delivered">Thành công</button>
                        <button class="btn btn-danger btn-sm" (click)="setStatus(trackOrder, true)" *ngIf="!trackOrder.status">Đã hủy</button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="lst-product-detail">
            <div style="width:100%; height: 32px;"><span style="width:100%;height: 32px;border-bottom: 1px solid #020215;font-size: 20px">Chi tiết đơn hàng</span></div>
            <div style="margin-left: -70%; margin-top: 27px;" class="test" *ngIf="orderUser">
                <div style="padding: 10px 50px; margin-top: 20px;"><h5 *ngIf="orderUser.orders">Mã hóa đơn: VN000LC0{{orderUser.orders.id}} </h5></div>
                <div style="padding: 10px 50px; margin-top: -18px;"><h5>Danh sách sản phẩm</h5></div>
                <div *ngIf="orderUser.orders">
                    <div *ngIf="orderUser.listCarts">
                        <div class="track-content" *ngFor="let listCart of orderUser.listCarts">
                            <div *ngIf="listCart">
                                <div style="float: left; width: 100px;height: 100px;" *ngIf="listCart.product" ><img  height="75px" width="75px" [src]="'data:' + listCart.product.imageContentType + ';base64,' + listCart.product.image" alt="product image"/></div>
                                <div style="margin-top: -5px"><h5 *ngIf="listCart.product">{{listCart.product.name}}</h5></div>
                                <div *ngIf="listCart.size">Size: {{listCart.size.name}}</div>
                                <div *ngIf="listCart">Số lượng: {{listCart.amount}}</div>
                                <div>Đơn giá: <span class="red" *ngIf="listCart.product">{{listCart.product.price}} đ</span></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="track-footer">
                <span style="margin-left: -150px;" class="total">Tổng hóa đơn: <span style="font-size: 20px" class="red" *ngIf="orderUser.orders">{{orderUser.orders.totalOrderPrice}} đ</span> </span>
            </div>
            </div>
        </div>

    </div>
</div>
