.lst-product {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  float: left;
  div {
    width: 100%;
  }
}
.lst-product-detail {
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  div {
    width: 100%;
  }
}
.input-search {
  input {
    width: 23%;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    padding-left: 26px;
  }
}
.background {
  background-color: #eeeeee !important;
}
.track {
  margin-bottom: 30px;
  ul {
    li {
      float: left;
      padding: 10px 20px;
      list-style: none;
      font-size: 18px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.clear {
  clear: both;
}
.track-content {
  width: 100%;
  padding: 10px 50px;
  img {
    margin-right: 20px;
  }
}
.track-footer {
  width: 100%;
  padding: 10px 50px;

  .total {
    position: absolute;
    left: 70%;
  }
}
.track-layout {
  background-color: #fcf3da;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}
.red {
  color: red;
}
.test {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
  width: 90%;
  margin-left: -101%;
  margin-top: 50px;
  margin: auto;
  border-radius: 5px;
  background-color: #ffffff;
}
