<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-track-order-heading" jhiTranslate="hauiAdidasShoesApp.trackOrder.home.createOrEditLabel">Create or edit a Track Order</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.trackOrder.orderConfirm" for="field_orderConfirm">Order Confirm</label>
                    <input type="checkbox" class="form-control" name="orderConfirm" id="field_orderConfirm"
                           formControlName="orderConfirm"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.trackOrder.waittingProduct" for="field_waittingProduct">Waitting Product</label>
                    <input type="checkbox" class="form-control" name="waittingProduct" id="field_waittingProduct"
                           formControlName="waittingProduct"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.trackOrder.shipping" for="field_shipping">Shipping</label>
                    <input type="checkbox" class="form-control" name="shipping" id="field_shipping"
                           formControlName="shipping"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.trackOrder.delivered" for="field_delivered">Delivered</label>
                    <input type="checkbox" class="form-control" name="delivered" id="field_delivered"
                           formControlName="delivered"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.trackOrder.status" for="field_status">Status</label>
                    <input type="checkbox" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.trackOrder.orders" for="field_orders">Orders</label>
                    <select class="form-control" id="field_orders" name="orders" formControlName="orders">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ordersOption.id === editForm.get('orders')!.value?.id ? editForm.get('orders')!.value : ordersOption" *ngFor="let ordersOption of orders; trackBy: trackById">{{ ordersOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
