/* ==========================================================================
Main page styles
========================================================================== */
.left {
  width: 40%;
  border-radius: 5px;

  height: 500px;
  background-color: #eeeeee;
  float: left;
}
.right {
  background-color: #eeeeee;
  border-radius: 5px;
  width: 60%;
  padding: 20px;

  margin-left: 41%;
  height: 500px;
}
.content-footer {
  padding: 20px;
  background-color: #eeeeee;
  width: calc(100% + 12px);
  height: 400px;
  margin-top: 20px;
  border-radius: 5px;
  .detail-product {
    width: 500px;
    margin-top: 20px;
    .title {
      width: 250px;
      height: 30px;
      float: left;
    }
  }
}
margin-top {
  margin-top: 10px;
}
.quality {
  display: flex;
  margin: 20px 0px;
}
.btn1 {
  margin-left: 35px;
  margin-top: -8px;
  display: flex;
  input,
  button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
}
.btn2 {
  margin-top: 100px;
  display: flex;
  button {
    width: 229px;
    border: 1px solid red;
    height: 52px;
    border-radius: 5px;
  }
  .card {
    color: red;
  }
  .buy-now {
    margin-left: 10px;
    color: white;
    button {
      color: white;
      background-color: #ee4d2d;
    }
  }
}
.description {
  margin-top: 20px;
}
.margin-left {
  margin-left: 20px;
}
button,
input {
  border-radius: 5px;
  outline: none;
}
.comment {
  width: calc(100% + 12px);

  margin-top: 10px;
  background-color: #eeeeee;

  .content-comment {
    padding: 10px 30px;
  }
}
