<div>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="left">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let item of Imagedata">
                <img  style="width:100%; height:100%;" [src]="'data:' + item.imageContentType + ';base64,' + item.image" alt="product image"/>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="right" *ngIf="product">
        <div class="name-product margin-top"><h2>{{product.name}}</h2></div>
        <div class="price-prpduct margin-top margin-left" style="color: red"><h3>{{replace(product.price)}} đ</h3></div>
        <div class="size margin-top margin-left" >
            <div class="form-group">
                Size:<br>
                <select class="form-control" id="field_size" (change)="selectChangeHandler($event)"  (click)="amountProduct()" formControlName="size" style="width: 75px; height: 33px;">
                    <option  *ngFor="let sizeOption of sizes" [defaultSelected]="sizeOption" value="{{ sizeOption.name }}" name="size">{{ sizeOption.name }}</option>
                </select>
            </div>
        </div>
        <div class="description margin-top margin-left">
            <span style="color: #1d2111"><h4>Mô tả sản phẩm: &nbsp;</h4></span> <span>{{product.title}}</span>
        </div>
        <div class="quality margin-top margin-left">
            <div>Số lượng</div>
            <div class="btn1 margin-top">
                <button (click)="minus()">-</button>
                <input [defaultValue]="amount">
                <button (click)="plus()">+</button>
            </div>
            <div *ngIf="amounts" style="margin-top: -2px; margin-left: 20px" class="total-have margin-top"><span>{{amounts.inventory}}</span>sản phẩm có sẵn</div>
            <div *ngIf="!amounts" style="margin-top: -2px; margin-left: 20px" class="total-have margin-top"><span style="color: red">sản phẩm đã bán hết</span></div>
        </div>
        <div class="btn2 margin-left">
            <div class="cart"><button (click)="addCart()" type="submit" style="color: red" ><img height="27" width="27" src="https://img.icons8.com/ios-filled/50/000000/add-shopping-cart.png" /> &nbsp; Thêm vào giỏ hàng</button></div>
            <div class="buy-now"><button (click)="submit()" style="color: white; background-color: #EE4D2D">Mua ngay</button></div>
        </div>

    </div>
    <div class="content-footer" *ngIf="productDetails">
        <h3>Thông số sản phẩm</h3>
       <div class="detail-product" *ngFor="let productDetail of productDetails">
           <div class="title">{{productDetail.description}}</div>
       </div>
    </div>
    <div class="comment">
        <span ><h3 style="margin-left: 20px; margin-top: 20px">Đánh giá</h3></span>
        <div class="content-comment" *ngFor="let item of reviewUser" >
            <div class="user-name"><img style="border-radius: 25px" height="50" [height]="50" src="https://i.imgur.com/mYg6w8P.jpg"></img><span style="margin-left: 5px">{{item.firstName}} &nbsp; {{item.lastName}}</span></div>
            <div class="content-comment">{{item.review}}</div>
        </div>
        <div *ngIf="!product">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
