<div>
    <h2 id="page-heading">
        <span>Chi tiết sản phẩm</span>

        <button style="position: absolute;top: 153px;left: 587px;" id="jh-create-entity"
                class="btn btn-primary float-right jh-create-entity create-product-image" (click)="createProductImage()">
            <fa-icon icon="plus"></fa-icon>
        </button>
        <button style="position: absolute;top: 153px;left: 1202px;" id="jh-create-entitys"
                class="btn btn-primary float-right jh-create-entity create-product-image" (click)="createProductDes()">
            <fa-icon icon="plus"></fa-icon>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productImages?.length === 0">
        <span jhiTranslate="hauiAdidasShoesApp.productImage.home.notFound">No productImages found</span>
    </div>
    <div class="input-search">
        <input [ngModel]="name" (ngModelChange)="changeLoadProduct($event)">
    </div>
    <div class="lst-product">
        <div style="border-bottom: 1px solid #020215;font-size: 23px; font-weight:bold;">Danh sách sản phẩm </div>
            <div class="product" *ngFor="let product of products">
                <div (click)="loadProduct(product.id)"
                     [ngStyle]="{'border-bottom': tabIndex == product.id ? '2px solid rgb(32 134 245)' : 'none'}"
                     *ngIf="product" class="name-product" style="padding-top:5px; "><img style="height: 23px; width: 23px;" src="https://img.icons8.com/ios-filled/50/000000/sneakers.png"/>&nbsp;{{product.name}}</div>
            </div>
        </div>
    <div class="lst-product-detail">
        <div class="left">
            <div><p  style="border-bottom: 1px solid #020215;font-size: 20px" >Hình ảnh sản phẩm</p></div>
            <div class="table-responsive" id="entities" *ngIf="productImages && productImages.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" >
                        <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">#</span></th>
                        <th scope="col"  jhiSortBy="image"><span jhiTranslate="hauiAdidasShoesApp.productImage.image">Image</span>s</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let productImage of productImages ;trackBy: trackId">
                        <td><span>{{productImage.id}}</span></td>
                        <td>
                            <a *ngIf="productImage.image" (click)="openFile(productImage.imageContentType, productImage.image)">
                                <img [src]="'data:' + productImage.imageContentType + ';base64,' + productImage.image" style="max-height: 30px;" alt="productImage image"/>
                            </a>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/product-image', productImage.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>

                                <button type="submit" (click)="delete(productImage)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="times"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--div *ngIf="productImages && productImages.length > 0">
                <div style="position: absolute;top: 672px;left: -12%;" class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                </div>
            </div>-->
        </div>
        <div class="center">
            <div> <p style="border-bottom: 1px solid #020215;font-size: 20px">Thông số sản phẩm</p></div>
            <div class="table-responsive" id="entitiess" *ngIf="productDetails && productDetails.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" >
                        <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>
                        <th scope="col"  jhiSortBy="description"><span jhiTranslate="hauiAdidasShoesApp.productDetails.description">Description</span> </th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let productDetails of productDetails ;trackBy: trackId">
                        <td><a [routerLink]="['/product-details', productDetails.id, 'view']">{{ productDetails.id }}</a></td>
                        <td>{{ productDetails.description }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/product-details', productDetails.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>

                                <button type="submit" (click)="deleteProductDetail(productDetails)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="times"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="right">
        <div><p style="border-bottom: 1px solid #020215;font-size: 20px">Đánh giá khách hàng</p></div>
        <div class="table-responsive" id="entitiesss" *ngIf="reviews && reviews.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" >
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> </th>
                    <th  style="width: 520px;" jhiSortBy="decription"><span jhiTranslate="hauiAdidasShoesApp.reviews.decription">Decription</span> </th>
                    <th scope="col"  jhiSortBy="orderProduct.id"><span >Name</span></th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let review of reviews">
                    <td><a [routerLink]="['/reviews', review.id, 'view']">{{ review.id }}</a></td>
                    <td style="width: 520px;">{{ review.decription }}</td>
                    <!--td>{{review.orderProduct.orders.user.firstName}}&nbsp;{{review.orderProduct.orders.user.lastName}}</td>-->
                    <td *ngIf="review.orderProduct"><div *ngIf="review.orderProduct.orders"><span *ngIf="review.orderProduct.orders.user">{{review.orderProduct.orders.user.firstName}}&nbsp;{{review.orderProduct.orders.user.lastName}}</span></div></td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/reviews', review.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(review)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
