<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productImage">
            <h2><span jhiTranslate="hauiAdidasShoesApp.productImage.detail.title">Product Image</span> {{ productImage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hauiAdidasShoesApp.productImage.image">Image</span></dt>
                <dd>
                    <div *ngIf="productImage.image">
                        <a (click)="openFile(productImage.imageContentType, productImage.image)">
                            <img [src]="'data:' + productImage.imageContentType + ';base64,' + productImage.image" style="max-width: 100%;" alt="productImage image"/>
                        </a>
                        {{ productImage.imageContentType }}, {{ byteSize(productImage.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.productImage.description">Description</span></dt>
                <dd>
                    <span>{{ productImage.description }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.productImage.product">Product</span></dt>
                <dd>
                    <div *ngIf="productImage.product">
                        <a [routerLink]="['/product', productImage.product?.id, 'view']">{{ productImage.product?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-image', productImage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
