<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productDetails">
            <h2><span jhiTranslate="hauiAdidasShoesApp.productDetails.detail.title">Product Details</span> {{ productDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hauiAdidasShoesApp.productDetails.description">Description</span></dt>
                <dd>
                    <span>{{ productDetails.description }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.productDetails.product">Product</span></dt>
                <dd>
                    <div *ngIf="productDetails.product">
                        <a [routerLink]="['/product', productDetails.product?.id, 'view']">{{ productDetails.product?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-details', productDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
