<div>
    <div style="width: 90%;border-bottom: 2px solid #2828f8; margin: auto">
        <h3  id="page-heading">
            <span style="margin-left: 0%"><img style="width: 48px;height: 48px;" src="https://img.icons8.com/fluent/48/000000/track-order.png"/>&nbsp;Trình theo dõi đơn hàng </span>
        </h3>
    </div>


    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="trackOrderUsers?.length === 0">
        <span jhiTranslate="hauiAdidasShoesApp.trackOrderUser.home.notFound">No trackOrderUsers found</span>
    </div>
    <div class="track-layout">

    <div class="track">
        <ul>
            <li (click)="tabClick(1)"
                [ngStyle]="{'border-bottom': tabIndex == 1 ? '2px solid #2828f8' : 'none'}" ><img style="height: 25px; width: 25px" src="https://img.icons8.com/pastel-glyph/64/000000/checked--v3.png"/>
                Chờ xác nhận</li>
            <li
                (click)="tabClick(2)"
                [ngStyle]="{'border-bottom': tabIndex == 2 ? '2px solid #2828f8' : 'none'}"><img src="https://img.icons8.com/material-rounded/24/000000/product-documents.png"/>&nbsp;
                Chờ lấy hàng</li>
            <li
                (click)="tabClick(3)"
                [ngStyle]="{'border-bottom': tabIndex == 3 ? '2px solid #2828f8' : 'none'}"><img  style="height: 25px; width: 25px" src="https://img.icons8.com/fluent-systems-filled/48/000000/flower-delivery.png"/>&nbsp;
                Đang giao</li>
            <li
                (click)="tabClick(4)"
                [ngStyle]="{'border-bottom': tabIndex == 4 ? '2px solid #2828f8' : 'none'}"><img style="height: 25px; width: 25px" src="https://img.icons8.com/dusk/64/000000/checked-truck.png"/>&nbsp;
                Đã giao</li>
            <li
                (click)="tabClick(5)"
                [ngStyle]="{'border-bottom': tabIndex == 5 ? '1px solid #2828f8' : 'none'}"><img  style="height: 25px; width: 25px" src="https://img.icons8.com/cute-clipart/64/000000/cancel.png"/>&nbsp;
                Đã huỷ</li>
        </ul>
    </div>
        <div *ngFor="let orderUser of orderUsers">
            <div class="clear"></div>
            <div class="test" *ngIf="orderUser">
                <div class="clear"></div>
                <div style="padding: 10px 50px; margin-top: 20px;"><h5 *ngIf="orderUser.orders">Mã hóa đơn: VN000LC0{{orderUser.orders.id}} </h5></div>
                <div style="padding: 10px 50px; margin-top: -18px;"><h5>Danh sách sản phẩm</h5></div>
                <div class="track-content" *ngFor="let listCart of orderUser.listCarts">
                    <div *ngIf="listCart">
                        <div style="float: left" *ngIf="listCart.product" ><img  height="75px" width="75px" [src]="'data:' + listCart.product.imageContentType + ';base64,' + listCart.product.image" alt="product image"/></div>
                        <div><h5 *ngIf="listCart.product">{{listCart.product.name}}</h5></div>
                        <div *ngIf="listCart.size">Size: {{listCart.size.name}}</div>
                        <div *ngIf="listCart">Số lượng: {{listCart.amount}}</div>
                        <div>Đơn giá: <span class="red" *ngIf="listCart.product">{{replace(listCart.product.price)}} đ</span></div>
                        <div class="clear" *ngIf="tabIndex ===4 && listCart.checkReview"><p style="color: #0080bd">Đã đánh giá!</p></div>
                        <div class="clear" *ngIf="tabIndex ===4 && !listCart.checkReview">
                            <textarea class="review" (keyup)="onKey($event)" ></textarea>
                            <button *ngIf="orderUser.orders" (click)="review(orderUser.orders.id,listCart.id)" style=" background-color:#f6a417;margin-top: 20px;margin-left: 10px;outline: none;border: 0;border-radius: 5px">Đánh giá</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div *ngIf="tabIndex===1 && orderUser.trackOrder" style="position: absolute;margin-top: -181px;margin-left: 785px;">
                    <button  *ngIf="!orderUser.trackOrder.orderConfirm" (click)="cancelOrder(orderUser.trackOrder)" type="button" class="btn btn-danger btn-sm">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline" >Hủy đơn hàng</span>
                    </button>
                </div>
                <div class="track-footer">
                    <div *ngIf="orderUser.trackOrder">
                        <span style="color: #0080bd" *ngIf="tabIndex===1 && !orderUser.trackOrder.orderConfirm" >Vui lòng chờ xác nhận từ chủ shop!</span>
                        <span style="color: #0080bd" *ngIf="tabIndex===1 && orderUser.trackOrder.orderConfirm">Đơn hàng đã được xác nhận!</span>
                    </div>
                    <span style="color: #0080bd"*ngIf="tabIndex===2 && orderUser.orders" >Sản phẩm được chuyển đến đơn vị vận chuyển muộn nhất vào: {{orderUser.orders.deliveryDateFrom}}</span>
                    <span style="color: #0080bd"*ngIf="tabIndex===3 && orderUser.orders" >Sản phẩm được giao muộn nhất vào: {{orderUser.orders.deliveryDateTo}}</span>
                    <span style="color: #0080bd"*ngIf="tabIndex===4">Sản phẩm đã được giao, cảm ơn quý khách đã mua hàng và đừng quên đánh giá sản phẩm nhé!</span>
                   <span class="total">Tổng hóa đơn: <span style="font-size: 20px" class="red" *ngIf="orderUser.orders">{{replace(orderUser.orders.totalOrderPrice)}} đ</span> </span>
                </div>
            </div>
        </div>


</div>
</div>

