/* ==========================================================================
Main page styles
========================================================================== */
.track {
  margin-bottom: 30px;
  ul {
    li {
      float: left;
      padding: 10px 20px;
      list-style: none;
      font-size: 18px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.clear {
  clear: both;
}
.track-content {
  width: 100%;
  padding: 10px 50px;
  img {
    margin-right: 20px;
  }
}
.track-footer {
  width: 100%;
  padding: 10px 50px;

  .total {
    position: absolute;
    left: 70%;
    margin-top: -25px;
  }
}
.track-layout {
  background-color: #fcf3da;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}
.red {
  color: red;
}
.test {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  background-color: #ffffff;
}
.review {
  border-radius: 5px;
  height: 52px;
  outline: none;
  float: left;
  width: 200px;
  margin-top: 10px;
  &:hover {
    border-color: #81b2e3;
  }
  &:focus {
    border-color: #81b2e3;
  }
}
