@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/Adidas-Logo.png') no-repeat center center;
  background-size: contain;
  width: 80px;
  height: 55px;
}
span {
  color: #131212;
}

.dropdown-menu {
  background-color: rgb(252, 252, 252) !important;
}
fa-icon {
  color: #131212;
}
.navbar.bg-dark {
  background-color: rgb(252, 252, 252) !important;
  border: 1px solid #282828;
}
.menu2 {
  position: absolute !important;
  clear: both !important;
  top: 46px !important;
  left: 17% !important;
  display: flex !important;
  ul {
    li {
      text-decoration: none !important;
      list-style: none;
      float: left;
      padding: 0px 15px;

      :hover {
        color: #3e8acc;
      }

      .active {
        color: red;
      }
    }
  }
}

.input-search {
  position: absolute;
  left: 79%;
  top: 40px;
}
.input-search input {
  padding-left: 26px;
  border-radius: 5px;
  outline: none;
  background-image: url('https://img.icons8.com/android/24/000000/search.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid black;
  width: 200px;
}
.button-order {
  position: absolute;
  left: 94.2%;
  top: 39px;
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}
.button-order button {
  border-radius: 5px;
  border: 0;
  outline: none;
}
.button-order button:hover {
  background-color: #b3b3b3;
}
