/* ==========================================================================
Main page styles
========================================================================== */

.container1 {
  width: 1280px;
  padding: 0;
  margin: 0 auto;
}
.folio_block {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -140px 0 0 -395px;
}
.main_view {
  float: left;
  position: relative;
}
.window {
  -moz-box-shadow: 0 0 5px #303030;
  -webkit-box-shadow: 0 0 5px #303030;
  box-shadow: 0 0 5px #303030;
  border: 1px solid #000000;
  height: 500px;
  width: 1280px;
  margin-top: 15px;
  overflow: hidden;
  position: relative;
}
.image_reel {
  position: absolute;
  top: 0;
  left: 0;
}
.image_reel img {
  float: left;
}
.paging_btrix {
  position: absolute;
  bottom: 10px;
  right: -7px;
  width: 178px;
  height: 47px;
  z-index: 100;
  text-align: center;
  line-height: 40px;
  background: url(http://1.bp.blogspot.com/-UQAJVYvatlY/UTbGMUctYcI/AAAAAAAAHIE/PSM-s1tbAd8/s1600/paging_btrix_bg2.png) no-repeat;
  display: none;
}
.paging_btrix a {
  padding: 5px;
  text-decoration: none;
  color: #fff;
}
.paging_btrix a.active {
  font-weight: bold;
  background: #920000;
  border: 1px solid #610000;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.paging_btrix a:hover {
  font-weight: bold;
}

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: contain;
  }
  #img-home {
    width: 1200px !important;
    height: 400px !important;
  }
}
.hot-product {
  width: 1300px;
  margin-left: 18px;
}
.hot-product .content-product {
  height: 250px;
  width: 203px;
  float: left;
  margin-top: 0px;
  margin-left: 10px;
  background-color: #f6f6f6;
}
.content-product:hover {
  border-radius: 5px;
  border: 1px solid #81b2e3;
}
#top-sp {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.hot-product-name,
.hot-product-price {
}
.hot-product-price {
  color: #ec0b0b;
}
.product-footer {
  width: 1300px;
  height: 500px;
}
.product-footer .left {
  width: 500px;
  height: 450px;
  margin-left: 40px;
  float: left;
}
.product-footer .right {
  width: 750px;
  height: 450px;
  margin-left: 550px;
}
.product1 {
  margin-top: 10px;
}
.product1:hover {
  border-radius: 5px;
  border: 2px solid #81b2e3;
}
.video-adidas {
  width: 1200px;
  height: 600px;
  margin-top: 10px;
  margin-left: 75px;
}
//title san pham hot
.box-title-new {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.box-title-new .box-title-name-new {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  background: #ec0b0b;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  marrgin-bottom: 20px;
  border-radius: 15px;
}
.box-title-new .box-title-name-new:before {
  content: '';
  position: absolute;
  border-top: 10px solid #ec0b0b;
  border-left: 15px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 15px solid transparent;
  left: calc(50% - 40px);
  bottom: -25px;
  width: 50px;
}
.box-title-new .box-title-name-new:after {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: -18px;
  height: 9px;
  width: 200px;
  left: calc(50% - 100px);
  border-top: 2px solid #ec0b0b;
}

//title san pam yeu thic
.vi-header {
  border-bottom: solid 1px #0056a8;
  width: 1260px;
  margin-left: 30px;
  height: 40px;
  margin-bottom: 10px;
}
.vi-left-title {
  width: auto;
  background: #0056a8;
  color: #fff;
  padding: 3px 10px;
  font-size: 18px;
  position: relative;
  margin: 0;
}
.pull-left {
  float: left;
  margin-bottom: 18px;
}
.pull-left {
  margin-left: 0px !important;
}
.vi-left-title a {
  color: #fff;
}
.vi-left-title:after {
  border: 17px solid transparent;
  border-left-color: #0056a8;
  border-bottom-color: #0056a8;
  position: absolute;
  top: 0;
  left: 100%;
  content: '';
}
.pull-right {
  float: right;
}
.pull-right {
  margin-right: 0 !important;
}
.vi-right-link a:first-child {
  margin-left: 0;
}
.vi-right-link a {
  color: #555;
  font-size: 14px;
  margin-left: 15px;
}
.vi-right-link a.vi-more,
.vi-right-link a:hover {
  color: #0056a8;
}
.vi-right-link a.vi-more:after {
  content: 'f101';
  font-family: FontAwesome;
  margin-left: 4px;
}
