<div class="row">

    <div class="container1">
        <div class="main_view">
            <div class="window">
                <div class="image_reel">
                    <a href=""><img src="https://i.imgur.com/9qX3XSP.jpg" width='1282' /></a>
                    <a href=""><img src="https://i.imgur.com/3PUdMNn.jpg" width='1282' /></a>
                    <a href=""><img src="https://i.imgur.com/kQxgexN.jpg" width='1282' /></a>
                    <a href=""><img src="https://i.imgur.com/h0QbEXL.jpg" width='1282' /></a>
                </div>
            </div>
            <div class="paging_btrix">
                <a href="#" rel="1">1</a>
                <a href="#" rel="2">2</a>
                <a href="#" rel="3">3</a>
                <a href="#" rel="4">4</a>
            </div>
        </div>
</div>
    <div class="box-title-new"><div class="box-title-name-new"><span class="null">Top sản phẩm Hot 2021</span></div></div>
    <div class="hot-product" >
        <div class="content-product" *ngFor="let product of productsHot">
            <a *ngIf="product.image" [routerLink]="['/detail-product', product.id]">
                <img  height="170" width="200" [src]="'data:' + product.imageContentType + ';base64,' + product.image" alt="product image"/>
            </a>
            <div class="hot-product-name">{{product.name}}</div>
            <div class="hot-product-price">{{product.price}}<span>đ</span></div>
        </div>
    </div>
    <div class="video-adidas">
        <iframe width="1200" height="600" src="https://www.youtube.com/embed/8VxwSDAezqg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="product-footer">
        <div class="left">
            <div class="product1"><img height="220" width="497" src="https://i.imgur.com/zq8RzQt.jpg"></div>
            <div class="product1"><img height="220" width="497" src="https://i.imgur.com/Hz2ESZI.jpg"></div>
        </div>
        <div class="right">
            <div class="product1"><img height="450" width="747" src="https://i0.wp.com/s1.uphinh.org/2021/03/25/s.gif"></div>
        </div>
    </div>
    <div class="clearfix vi-header"><h3 class="vi-left-title pull-left">Top sản phẩm được yêu thích nhất</h3></div>
    <div class="hot-product">
        <div class="content-product" *ngFor="let product of productsLike">
            <a *ngIf="product.image" [routerLink]="['/detail-product', product.id]">
                <img  height="170" width="200" [src]="'data:' + product.imageContentType + ';base64,' + product.image" alt="product image"/>
            </a>
            <div class="hot-product-name">{{product.name}}</div>
            <div class="hot-product-price">{{product.price}}<span>đ</span></div>
        </div>
    </div>
</div>

