<div>
    <h2 id="page-heading">
        <span jhiTranslate="hauiAdidasShoesApp.orderTracks.home.title">Order Tracks</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orderTracks?.length === 0">
        <span jhiTranslate="hauiAdidasShoesApp.orderTracks.home.notFound">No orderTracks found</span>
    </div>

    <div>lvc 123 2323334444444488888 ayyy3</div>

</div>
