<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="amount">
            <h2><span jhiTranslate="hauiAdidasShoesApp.amount.detail.title">Amount</span> {{ amount.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hauiAdidasShoesApp.amount.total">Total</span></dt>
                <dd>
                    <span>{{ amount.total }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.amount.inventory">Inventory</span></dt>
                <dd>
                    <span>{{ amount.inventory }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.amount.description">Description</span></dt>
                <dd>
                    <span>{{ amount.description }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.amount.soldProduct">Sold Product</span></dt>
                <dd>
                    <span>{{ amount.soldProduct }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.amount.product">Product</span></dt>
                <dd>
                    <div *ngIf="amount.product">
                        <a [routerLink]="['/product', amount.product?.id, 'view']">{{ amount.product?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.amount.size">Size</span></dt>
                <dd>
                    <div *ngIf="amount.size">
                        <a [routerLink]="['/size', amount.size?.id, 'view']">{{ amount.size?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/amount', amount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
