.lst-product {
  height: 620px;
  width: 23%;
  overflow: scroll;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  float: left;
  div {
    width: 500%;
  }
}
.lst-product-detail {
  height: 620px;
  width: 77%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 24%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  .left {
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow: scroll;
    border-radius: 5px;
    border: 1px solid black;
    float: left;
    div {
      width: 100%;
    }
    table {
      background-color: #ffffff !important;
      tr {
        &:hover,
        activate {
          cursor: pointer;
          background-color: #f8fd6b;
          z-index: 100;
        }
      }
    }
  }
  div {
    width: 500%;
  }
}
.input-search {
  input {
    width: 23%;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    padding-left: 26px;
  }
}
.right {
  margin-top: 10px;
  margin-left: 24%;
  height: 400px;
  overflow: scroll;
  width: 77%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  float: left;
  div {
    width: 100%;
  }
}
.name-product {
  margin-left: 20px;
  margin-top: 10px;
  height: 35px;
  &:hover,
  activate {
    cursor: pointer;
    background-color: #a2cdfc;
  }
}
