<div>
    <h2 id="page-heading">
        <span>Thông tin Số lượng sản phẩm</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-amount" [routerLink]="['/amount/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hauiAdidasShoesApp.amount.home.createLabel">
            Create a new Amount
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="amounts?.length === 0">
        <span jhiTranslate="hauiAdidasShoesApp.amount.home.notFound">No amounts found</span>
    </div>

    <div class="input-search">
        <input [ngModel]="name" (ngModelChange)="changeLoadProduct($event)" >
    </div>
    <div class="lst-product">
        <div><p style="border-bottom: 1px solid #020215;font-size: 23px; font-weight:bold;">Danh sách sản phẩm </p></div>
        <div class="product" *ngFor="let product of products">
            <div *ngIf="product" class="name-product" (click)="loadproduct(product.id)"
                 [ngStyle]="{'border-bottom': tabIndex == product.id ? '2px solid rgb(32 134 245)' : 'none'}"><img style="height: 23px; width: 23px;" src="https://img.icons8.com/ios-filled/50/000000/sneakers.png"/>&nbsp;{{product.name}}</div>
        </div>
    </div>
    <div class="lst-product-detail">
        <div class="left">
            <p  style="border-bottom: 1px solid #020215;font-size: 20px" >Chi tiết</p>
            <div class="table-responsive" id="entities" *ngIf="amounts && amounts.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="size.name"><span jhiTranslate="hauiAdidasShoesApp.amount.size">Size</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="total"><span jhiTranslate="hauiAdidasShoesApp.amount.total">Total</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="inventory"><span jhiTranslate="hauiAdidasShoesApp.amount.inventory">Inventory</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="soldProduct"><span jhiTranslate="hauiAdidasShoesApp.amount.soldProduct">Sold Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let amount of amounts ;trackBy: trackId" (click)="loadHistory(amount.id)">
                    <td>
                        <div *ngIf="amount.size">{{ amount.size?.name }}</div>
                    </td>
                    <td>{{ amount.total }}</td>
                    <td>{{ amount.inventory }}</td>
                    <td>{{ amount.soldProduct }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/amount', amount.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(amount)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <div class="right">
        <div style="border-bottom: 1px solid #020215;font-size: 20px">Lịch sử </div>
        <div class="table-responsive" id="entitiess" *ngIf="productImportHistories && productImportHistories.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="hauiAdidasShoesApp.productImportHistory.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let productImportHistory of productImportHistories ;trackBy: trackId">
                    <td><a [routerLink]="['/product-import-history', productImportHistory.id, 'view']">{{ productImportHistory.id }}</a></td>
                    <td>{{ productImportHistory.description }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-import-history', productImportHistory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productImportHistory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
