<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-product-heading" jhiTranslate="hauiAdidasShoesApp.orderProduct.home.createOrEditLabel">Create or edit a Order Product</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orderProduct.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orderProduct.orders" for="field_orders">Orders</label>
                    <select class="form-control" id="field_orders" name="orders" formControlName="orders">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ordersOption.id === editForm.get('orders')!.value?.id ? editForm.get('orders')!.value : ordersOption" *ngFor="let ordersOption of orders; trackBy: trackById">{{ ordersOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hauiAdidasShoesApp.orderProduct.listCart" for="field_listCart">List Cart</label>
                    <select class="form-control" id="field_listCart" name="listCart" formControlName="listCart">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="listCartOption.id === editForm.get('listCart')!.value?.id ? editForm.get('listCart')!.value : listCartOption" *ngFor="let listCartOption of listcarts; trackBy: trackById">{{ listCartOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
