<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderProduct">
            <h2><span jhiTranslate="hauiAdidasShoesApp.orderProduct.detail.title">Order Product</span> {{ orderProduct.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hauiAdidasShoesApp.orderProduct.description">Description</span></dt>
                <dd>
                    <span>{{ orderProduct.description }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orderProduct.orders">Orders</span></dt>
                <dd>
                    <div *ngIf="orderProduct.orders">
                        <a [routerLink]="['/orders', orderProduct.orders?.id, 'view']">{{ orderProduct.orders?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.orderProduct.listCart">List Cart</span></dt>
                <dd>
                    <div *ngIf="orderProduct.listCart">
                        <a [routerLink]="['/list-cart', orderProduct.listCart?.id, 'view']">{{ orderProduct.listCart?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-product', orderProduct.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
