<div>
    <h2 id="page-heading">
        <span jhiTranslate="hauiAdidasShoesApp.orderProduct.home.title">Order Products</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-product" [routerLink]="['/order-product/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hauiAdidasShoesApp.orderProduct.home.createLabel">
            Create a new Order Product
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orderProducts?.length === 0">
        <span jhiTranslate="hauiAdidasShoesApp.orderProduct.home.notFound">No orderProducts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orderProducts && orderProducts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="hauiAdidasShoesApp.orderProduct.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="orders.id"><span jhiTranslate="hauiAdidasShoesApp.orderProduct.orders">Orders</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="listCart.id"><span jhiTranslate="hauiAdidasShoesApp.orderProduct.listCart">List Cart</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderProduct of orderProducts ;trackBy: trackId">
                    <td><a [routerLink]="['/order-product', orderProduct.id, 'view']">{{ orderProduct.id }}</a></td>
                    <td>{{ orderProduct.description }}</td>
                    <td>
                        <div *ngIf="orderProduct.orders">
                            <a [routerLink]="['/orders', orderProduct.orders?.id, 'view']" >{{ orderProduct.orders?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="orderProduct.listCart">
                            <a [routerLink]="['/list-cart', orderProduct.listCart?.id, 'view']" >{{ orderProduct.listCart?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/order-product', orderProduct.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/order-product', orderProduct.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(orderProduct)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="orderProducts && orderProducts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
