<div>


    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="listProducts?.length === 0">
        <span jhiTranslate="hauiAdidasShoesApp.listProduct.home.notFound">No listProducts found</span>
    </div>
    <div>
        <div class="hot-product" >
            <div class="left">
                <h3  class="title-search">Tìm kiếm</h3>
                <div class="spec-search">Tên sản phẩm:<input [(ngModel)]="nameProduct"></div>
                <div class="spec-search">Loại sản phẩm:
                    <select class="form-control" id="field_category" style="width: 245px;border-radius: 5px;outline: none;border: 1px solid black;"
                            name="typeProduct" formControlName="category" (change)="selectChangeHandler($event)">
                        <option></option>
                        <option  *ngFor="let categoryOption of categories" value="{{categoryOption.id}}">{{ categoryOption.name }}</option>
                    </select>
                </div>
                <div class="spec-search">Giá từ:<input [(ngModel)]="fromPrice"></div>
                <div class="spec-search">Giá đến:<input [(ngModel)]="toPrice"></div>
                <div class="checkbox-search"><input name="spec-price" type="checkbox"  [(ngModel)]="isCheckedTrue" (click)="checkPrice()"><div class="text1">Giá từ thấp đến cao</div></div>
                <div class="checkbox-search"><input name="spec-price" type="checkbox"  [(ngModel)]="isCheckedFalse" (click)="checkPrice()"><div class="text2">Giá cao đến thấp</div></div>
                <div><button id="btn-search" (click)="searchFrom()">
                    <img  style="height: 29px; width: 23px;" src="https://img.icons8.com/dotty/80/000000/search.png"/><span>Tìm kiếm</span></button></div>

            </div>
            <div class="right">
                <h2 style="margin-bottom: 20px" id="page-heading">
                    <span>Danh sách sản phẩm</span>
                </h2>
                <div class="content-product" *ngFor="let product of listProducts">
                    <a *ngIf="product.image" [routerLink]="['/detail-product', product.id]">
                        <img  style="margin-top: 2px; margin-left: 2px;" height="170" width="195" [src]="'data:' + product.imageContentType + ';base64,' + product.image" alt="product image"/>
                    </a>
                    <div class="hot-product-name" style="margin-left: 10px;">{{product.name}}</div>
                    <div class="hot-product-price" style="margin-left: 10px;">{{replace(product.price)}}<span>đ</span></div>
                </div>

            </div>
            <div class="clear"></div>
            <div style="margin-left: 24%; margin-top: 15px;" *ngIf="listProducts && listProducts.length > 0">
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>

</div>
