/* ==========================================================================
Main page styles
========================================================================== */

.hot-product {
  width: 1300px;
  margin-left: 18px;
}
.hot-product .content-product {
  height: 250px;
  width: 200px;
  float: left;
  margin-top: 0px;
  margin-left: 5px;
  background-color: #d9eae7;
  margin-bottom: 5px;
  border-radius: 5px;
}
.content-product:hover {
  border-radius: 5px;
  border: 1px solid #81b2e3;
}
#top-sp {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.hot-product-name,
.hot-product-price {
}
.hot-product-price {
  color: #ec0b0b;
}
.left {
  padding: 20px;
  height: 464px;
  width: 300px;
  background-color: #dee2e6;
  border-radius: 5px;
  float: left;
  position: fixed;
  z-index: 999;
  input {
    width: 245px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    &:hover,
    &:focus {
      border-color: #3e8acc;
    }
  }
  select {
    &:hover,
    &:focus {
      border-color: #3e8acc;
    }
  }
}
.right {
  margin-left: 30%;
}
.clear {
  clear: both;
}
.spec-search {
  margin-top: 10px;
}
.checkbox-search {
  display: flex;
  width: 157px;
  margin-top: 10px;
  margin-left: -4px;
  justify-content: space-between;
  input {
    width: 20px;
    margin-top: 4px;
  }
  .text2 {
    position: absolute;
    left: 53px;
  }
}
#btn-search {
  background-color: #fb1515e6;
  margin-left: 86px;
  margin-top: 45px;
  /* margin-right: auto; */
  border-radius: 5px;
  width: 100px;
  border: 0;
  outline: none;
  height: 40px;
  span {
    color: #eeeeee;
  }
  &:hover {
    background-color: #41ac9a;
  }
}
