/* ==========================================================================
Main page styles
========================================================================== */

.title_pay {
  padding: 20px;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  background-color: #ece8e8;
}
.address_pay {
  height: 100%;
  width: 80%;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px !important;
  background-color: #fcf5f5;
  padding: 20px 68px;
  .address_pay_content {
    padding: 10px;
    .form {
      margin-left: 30px;
      margin-top: 20px;
      input {
        width: 400px;
        border-radius: 5px;
        outline: none;
        border: 1px solid black;
        margin-top: 10px;
      }
      input:focus,
      input:hover {
        border: 1px solid #00bc8c;
      }
    }
  }
}
.product_pay {
  border-radius: 5px;
  margin-top: 10px !important;
  height: 100%;
  width: 80%;
  margin: auto;
  background-color: #fcf5f5;
  padding: 20px;
  table {
    td {
      padding: 10px;
      width: 17%;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
}
.method_pay {
  border-radius: 5px;
  margin-top: 10px !important;
  height: 62px;
  width: 80%;
  margin: auto;
  background-color: #fcf5f5;
  div {
    float: left;
  }
}
.total_pay {
  width: 80%;
  margin: auto;
  border-radius: 5px;
  margin-top: 10px !important;
  height: 100%;
  background-color: #fcf5f5;
  padding: 15px 20px 10px 20px;
  table {
    margin-left: 74%;
    margin-top: 20px;
    margin-bottom: 20px;
    td {
      padding: 5px 10px;
    }
    button {
      margin-top: 10px;
      margin-left: 30%;
      height: 40px;
      width: 150px;
      background-color: #f93535;
      border: none;
      outline: none;
      border-radius: 5px;
    }
  }
}
