<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productImportHistory">
            <h2><span jhiTranslate="hauiAdidasShoesApp.productImportHistory.detail.title">Product Import History</span> {{ productImportHistory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hauiAdidasShoesApp.productImportHistory.description">Description</span></dt>
                <dd>
                    <span>{{ productImportHistory.description }}</span>
                </dd>
                <dt><span jhiTranslate="hauiAdidasShoesApp.productImportHistory.amount">Amount</span></dt>
                <dd>
                    <div *ngIf="productImportHistory.amount">
                        <a [routerLink]="['/amount', productImportHistory.amount?.id, 'view']">{{ productImportHistory.amount?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-import-history', productImportHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
