<div>
    <div class="title_pay">
        <h2 id="page-heading">
            <span style="border-right: 1px solid black;margin-left: 50px;padding-right: 10px">Adidas</span>
            <span style="margin-left: 10px; color: red">Thanh toán</span>

        </h2>
    </div>

    <div class="address_pay">
        <span style="color: red; font-size:20px;margin-left: -38px;"><img src="https://img.icons8.com/color/48/000000/address--v1.png"/>Địa chỉ nhận hàng</span>
        <div class="address_pay_content" *ngIf="user">
            <span style="font-weight: bold"><b>{{user.firstName}} &nbsp; {{user.lastName}}</b></span>
            <span style="margin-left: 10px;font-weight: bold"><b>{{user.phoneNumber}}</b></span>
            <span style="margin-left: 30px">{{user.address}}</span>
        </div>
        <div class="address_pay_content" *ngIf="!user">
            <div style="margin-bottom: 5px;"><span style="color: red;">Chú ý: Hãy tạo tài khoản để có thể mua nhiều sản phẩm cùng lúc và trải nghiệm những dịch vụ tốt nhất của shop!</span></div>
            <div>Nhập địa chỉ nhận hàng</div>
            <div class="form">
                <div>Họ tên: <input (keyup)="onKeyName($event)"  style="margin-left: 64px"></div>
                <div>Số điện thoại:<input (keyup)="onKeyPhone($event)" style="margin-left: 28px"></div>
                <div>Địa chỉ:<input (keyup)="onKeyAddress($event)" style="margin-left: 64px"></div>
            </div>
        </div>
    </div>
    <div class="product_pay">
        <table>
            <tr>
                <td style=" width:150px !important;"><h4><img style="height: 32px; height: 32px;" src="https://img.icons8.com/dusk/64/000000/product-documents.png"/>&nbsp;Sản phẩm</h4></td>
                <td></td>
                <td></td>
                <td style="font-size: inherit !important;">đơn giá</td>
                <td style="font-weight: inherit !important;">số lượng</td>
                <td style="font-weight: inherit !important;">thành tiền</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr *ngFor="let listCart of listCarts">
                <td *ngIf="listCart.product"><img  height="75px" width="75px" [src]="'data:' + listCart.product.imageContentType + ';base64,' + listCart.product.image" alt="product image"/></td>
                <td *ngIf="listCart.product" >{{listCart.product.name}}</td>
                <td *ngIf="listCart.size">Size: {{listCart.size.name}}</td>
                <td *ngIf="listCart.product" >{{replace(listCart.product.price)}} đ</td>
                <td *ngIf="listCart" >{{listCart.amount}}</td>
                <td *ngIf="listCart.product" >{{listCart.totalPrice}} </td>

            </tr>
        </table>

    </div>
    <div class="method_pay">
        <div style="padding: 10px;margin-left: 14px">
            <h4><img style="height: 52px; height: 52px;" src="https://img.icons8.com/clouds/100/000000/check-book.png"/> Phương thức thanh toán</h4>
        </div>
        <div style="padding: 17px;color: red; height: 30%;margin-left: 59px;margin-top: 6px;">
            thanh toán khi nhận hàng
        </div>
    </div>

    <jhi-alert-error style="width: 100%;"></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="total_pay">
        <table>

            <tr>
                <td>Tổng tiền hàng</td>
                <td *ngIf="totalPrice">{{replace(totalPrice.totalProductPrice)}} đ</td>
            </tr>
            <tr>
                <td>Phí vận chuyển</td>
                <td>30.000 đ</td>
            </tr>
            <tr>
                <td>Tổng thanh toán</td>
                <td *ngIf="totalPrice" style="color: red; font-size: x-large">{{replace(totalPrice.totalOrderPrice)}}đ</td>
            </tr>
            <tr><button (click)="createOrder()"><h4><img style="height: 33px; height: 33px;" src="https://img.icons8.com/ultraviolet/40/000000/create-order--v2.png"/>&nbsp;Đặt hàng</h4></button></tr>
        </table>
    </div>
</div>
